@model Joogle.Response.TextsResponse

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron text-center">
    <h1>Joogle</h1>
    @using (Html.BeginForm("Search", "Home", FormMethod.Get))
    {
        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group mycenter">
                <div>
                    @Html.EditorFor(model => model.Search, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Search, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    }
</div>